@import "../../styles/_variables.scss";

.leftSide {
  color: green;
}

.rightSide {
  color: blue;
}

.headerWrapper {
  composes: frc from global;
  border-bottom: 1px solid #666;
  min-height: 50px;
  display: flex;
}
